#body {
    background: #f8f8f8;
    font-size: 8pt;
}

#canva{
    height: 70%;
}


@media only screen and (min-width: 993px) {
    .container {
        width: 95%;
    }
}

nav{
    background-color: #009688;
}

nav.top-nav a.page-title {
    line-height: 60px;
    font-size: 28px;
}

nav.top-nav {
    height: 60px;
    box-shadow: none;
}

#information {
}
div {
    display: block;
}

td{
    padding: 5px;
}

.card-panel{
    margin-bottom: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.page-footer {
    background-color: #009688;
}

#extraFeature :hover{
    color: #009688;
    background-color: #009688 ;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(icon.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}